@import 'styles/colors';

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  padding-inline-start: 0;
  margin: 25px 0;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $blue;
  color: $blue;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: $white;
  background: $blue;
}

.pagination__link--disabled a {
  cursor: not-allowed;
  color: $gray;
  border: 1px solid $gray;
}
