$white: #fff;
$blue: rgb(80, 123, 247);
$blue-dark: rgb(23, 77, 240);
$blue-light: rgb(234, 239, 253);
$gray: rgb(149, 154, 162);
$gray-dark: rgb(57, 60, 61);
$gray-light: rgb(242, 245, 247);
$red: rgb(192, 31, 0);
$red-light: rgb(248, 236, 239);
