@import 'styles/colors';

.status {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  background-color: $gray-light;

  p {
    font-size: 14px;
    margin: 20px auto;
  }
}

.error {
  color: $red;
  background-color: $red-light;
  border: 1px dotted $red;
}
